<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.sinfloo.controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>com.sinfloo.controlador.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>com.alexander.controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorImg</servlet-name>
        <servlet-class>com.alexander.controlador.controladorImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoG</servlet-name>
        <servlet-class>edu.sena.controller.ohana.ProductoG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorG</servlet-name>
        <servlet-class>edu.sena.controller.ohana.controladorG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorImg</servlet-name>
        <url-pattern>/controladorImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoG</servlet-name>
        <url-pattern>/ProductoG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorG</servlet-name>
        <url-pattern>/controladorG</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>general/ohana.xhtml</welcome-file>
    </welcome-file-list>
    <data-source>
        <name>java:app/ds_ohana</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>3306</port-number>
        <database-name>ohana</database-name>
        <user>root</user>
        <password>root</password>
        <property>
            <name>useSSL</name>
            <value>false</value>
        </property>
        <property>
            <name>serverTimeZone</name>
            <value>UTC</value>
        </property>
        <property>
            <name>allowPublicKeyRetrieval</name>
            <value>true</value>
        </property>
        <initial-pool-size>8</initial-pool-size>
        <max-pool-size>32</max-pool-size>
        <min-pool-size>8</min-pool-size>
    </data-source>
</web-app>
